body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

#buttonWrapper {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 2%;
  text-align: center;
}

button {
  height: 45%;
  width: 30%;
  border: 0;
}

button:hover {
  cursor: pointer;
}

#accept {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 10%;
  top: 65%;
}

#remove {
  position: absolute;
  width: 80px;
  height: 40px;
  bottom: 8%;
  left: 15%;
}

#blackWhiteWrapper {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: -1000px;
  text-align: center;
}

#black {
  width: 40%;
  height: 70%;
}

#white {
  width: 40%;
  height: 70%;
}
